.nav {
  background-color: var(--theme-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
}

.current {
  color: #fae100;
}

.nav__notification {
  position: absolute;
  left: 35px;
  bottom: 20px;
}

.nav__alert {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  bottom: 25px;
}
